* {
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    
}

.header {
    height: 100px;
    background-color: darksalmon;
    grid-column: 1/3;
}

.text {
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: darksalmon;
    gap: 10px;

}

.box {
    background-color: brown;
}

.box_2 {
    background-color: brown;
}

.box_3 {
    grid-column: 1/3;
    background-color: burlywood;
}

.box_4 {
    grid-column: 1/3;
    background-color: cadetblue;

}

.aside {
    background-color: darkseagreen;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
    column-gap: 10px;
    height: 100px;
    background-color: darksalmon;
}

.footer div {
    background-color: aqua;
}